In [81]:
import pandas as pd

따릉_master = 'ddarung_master_short.csv'
따릉_population_density = 'points_and_values_divided_by_cnt.csv'
따릉_floor_area_ratio = 'points_and_values_divided_by_cnt_far.csv'

df_따릉_master = pd.read_csv(따릉_master, encoding='cp949',low_memory=False)
df_따릉_인구밀도 = pd.read_csv(따릉_population_density, encoding='cp949', low_memory=False)
df_따릉_용적률 = pd.read_csv(따릉_floor_area_ratio, encoding='cp949', low_memory=False)

In [82]:
df_따릉_master

,Unnamed: 0,보관소(대여소)명,위도,경도,public_place_in_100m,public_transport_in_100m,total_schools_in_100m
0,0,경복궁역 7번출구 앞,37.575794,126.971451,0,5,0
1,1,경복궁역 4번출구 뒤,37.575947,126.974060,0,3,0
2,2,광화문역 1번출구 앞,37.571770,126.974663,0,0,0
3,3,종로구청 옆,37.572559,126.978332,0,1,0
4,4,서울역사박물관 앞,37.570000,126.971100,3,4,0
...,...,...,...,...,...,...,...
2714,2714,명일역 3번출구 옆,37.551426,127.144211,2,5,0
2715,2715,상일파출소 옆,37.556553,127.165878,0,3,0
2716,2716,강변그대가리버뷰 입구 맞은편,37.548164,127.122574,0,0,0
2717,2717,방아삼거리,37.523281,127.146133,0,0,0
2718,2718,강동농협 버스정류소 앞(광채빌라),37.547966,127.135162,0,4,0

In [83]:
df_따릉_master['보관소_담당_인구수'] = df_따릉_인구밀도['Values']
df_따릉_master['보관소_인근_용적률'] = df_따릉_용적률['Values']

In [84]:
df_따릉_master

,Unnamed: 0,보관소(대여소)명,위도,경도,public_place_in_100m,public_transport_in_100m,total_schools_in_100m,보관소_담당_인구수,보관소_인근_용적률
0,0,경복궁역 7번출구 앞,37.575794,126.971451,0,5,0,25.0,160.42
1,1,경복궁역 4번출구 뒤,37.575947,126.974060,0,3,0,9.0,172.93
2,2,광화문역 1번출구 앞,37.571770,126.974663,0,0,0,0.0,0.00
3,3,종로구청 옆,37.572559,126.978332,0,1,0,0.0,0.00
4,4,서울역사박물관 앞,37.570000,126.971100,3,4,0,0.0,16.00
...,...,...,...,...,...,...,...,...,...
2714,2714,명일역 3번출구 옆,37.551426,127.144211,2,5,0,327.0,177.55
2715,2715,상일파출소 옆,37.556553,127.165878,0,3,0,0.0,72.21
2716,2716,강변그대가리버뷰 입구 맞은편,37.548164,127.122574,0,0,0,142.0,0.00
2717,2717,방아삼거리,37.523281,127.146133,0,0,0,0.0,0.00
2718,2718,강동농협 버스정류소 앞(광채빌라),37.547966,127.135162,0,4,0,325.0,155.26

In [85]:
df_따릉_master.iloc[:,4:]

,public_place_in_100m,public_transport_in_100m,total_schools_in_100m,보관소_담당_인구수,보관소_인근_용적률
0,0,5,0,25.0,160.42
1,0,3,0,9.0,172.93
2,0,0,0,0.0,0.00
3,0,1,0,0.0,0.00
4,3,4,0,0.0,16.00
...,...,...,...,...,...
2714,2,5,0,327.0,177.55
2715,0,3,0,0.0,72.21
2716,0,0,0,142.0,0.00
2717,0,0,0,0.0,0.00
2718,0,4,0,325.0,155.26

In [86]:
df_따릉_master['public_place_in_100m'].describe()

count    2719.000000
mean        0.474807
std         0.874801
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max        10.000000
Name: public_place_in_100m, dtype: float64

In [87]:
df_따릉_master['public_transport_in_100m'].describe()

count    2719.000000
mean        2.029055
std         1.744613
min         0.000000
25%         1.000000
50%         2.000000
75%         3.000000
max        11.000000
Name: public_transport_in_100m, dtype: float64

In [88]:
df_따릉_master['total_schools_in_100m'].describe()

count    2719.000000
mean        0.074292
std         0.291524
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         3.000000
Name: total_schools_in_100m, dtype: float64

In [89]:
df_따릉_master['보관소_담당_인구수'].describe()

count    2719.000000
mean      138.199706
std       241.064408
min         0.000000
25%         0.000000
50%        37.000000
75%       213.000000
max      7149.000000
Name: 보관소_담당_인구수, dtype: float64

In [90]:
df_따릉_master['보관소_인근_용적률'].describe()

count    2719.000000
mean      149.903670
std       168.492407
min         0.000000
25%         0.000000
50%       139.820000
75%       212.987500
max      1236.800000
Name: 보관소_인근_용적률, dtype: float64

In [91]:
# 3표준편차 이상 벗어나는 값, 결측치로 3표준편차값으로 치환 
# 'public_place_in_100m'
표준편차 = df_따릉_master['public_place_in_100m'].std()
이상치 = df_따릉_master['public_place_in_100m'] > 3 * 표준편차
df_따릉_master['public_place_in_100m'][이상치] = 3 * 표준편차
df_따릉_master['public_place_in_100m']

C:\Users\JSH\AppData\Local\Temp\ipykernel_11664\1426275135.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_따릉_master['public_place_in_100m'][이상치] = 3 * 표준편차

0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       2.624404
          ...
2714    2.000000
2715    0.000000
2716    0.000000
2717    0.000000
2718    0.000000
Name: public_place_in_100m, Length: 2719, dtype: float64

In [92]:
# 3표준편차 이상 벗어나는 값, 결측치로 3표준편차값으로 치환 
# 'public_transport_in_100m'
표준편차 = df_따릉_master['public_transport_in_100m'].std()
이상치 = df_따릉_master['public_transport_in_100m'] > 3 * 표준편차
df_따릉_master['public_transport_in_100m'][이상치] = 3 * 표준편차
df_따릉_master['public_transport_in_100m']

C:\Users\JSH\AppData\Local\Temp\ipykernel_11664\942516015.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_따릉_master['public_transport_in_100m'][이상치] = 3 * 표준편차

0       5.0
1       3.0
2       0.0
3       1.0
4       4.0
       ...
2714    5.0
2715    3.0
2716    0.0
2717    0.0
2718    4.0
Name: public_transport_in_100m, Length: 2719, dtype: float64

In [93]:
# 3표준편차 이상 벗어나는 값, 결측치로 3표준편차값으로 치환 
# 'total_schools_in_100m'
표준편차 = df_따릉_master['total_schools_in_100m'].std()
이상치 = df_따릉_master['total_schools_in_100m'] > 3 * 표준편차
df_따릉_master['total_schools_in_100m'][이상치] = 3 * 표준편차
df_따릉_master['total_schools_in_100m']

C:\Users\JSH\AppData\Local\Temp\ipykernel_11664\430187753.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_따릉_master['total_schools_in_100m'][이상치] = 3 * 표준편차

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
2714    0.0
2715    0.0
2716    0.0
2717    0.0
2718    0.0
Name: total_schools_in_100m, Length: 2719, dtype: float64

In [94]:
# 3표준편차 이상 벗어나는 값, 결측치로 3표준편차값으로 치환 
# '보관소_담당_인구수'
표준편차 = df_따릉_master['보관소_담당_인구수'].std()
이상치 = df_따릉_master['보관소_담당_인구수'] > 3 * 표준편차
df_따릉_master['보관소_담당_인구수'][이상치] = 3 * 표준편차
df_따릉_master['보관소_담당_인구수']

C:\Users\JSH\AppData\Local\Temp\ipykernel_11664\2001498527.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_따릉_master['보관소_담당_인구수'][이상치] = 3 * 표준편차

0        25.0
1         9.0
2         0.0
3         0.0
4         0.0
        ...
2714    327.0
2715      0.0
2716    142.0
2717      0.0
2718    325.0
Name: 보관소_담당_인구수, Length: 2719, dtype: float64

In [95]:
# 3표준편차 이상 벗어나는 값, 결측치로 3표준편차값으로 치환 
# 'public_place_in_100m'
표준편차 = df_따릉_master['보관소_인근_용적률'].std()
이상치 = df_따릉_master['보관소_인근_용적률'] > 3 * 표준편차
df_따릉_master['보관소_인근_용적률'][이상치] = 3 * 표준편차
df_따릉_master['보관소_인근_용적률']

C:\Users\JSH\AppData\Local\Temp\ipykernel_11664\1664596594.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_따릉_master['보관소_인근_용적률'][이상치] = 3 * 표준편차

0       160.42
1       172.93
2         0.00
3         0.00
4        16.00
         ...
2714    177.55
2715     72.21
2716      0.00
2717      0.00
2718    155.26
Name: 보관소_인근_용적률, Length: 2719, dtype: float64

In [96]:
df_따릉_master.describe()

,Unnamed: 0,위도,경도,public_place_in_100m,public_transport_in_100m,total_schools_in_100m,보관소_담당_인구수,보관소_인근_용적률
count,2719.000000,2719.000000,2719.000000,2719.000000,2719.000000,2719.000000,2719.000000,2719.000000
mean,1359.000000,37.547546,126.991597,0.436169,1.957899,0.058219,131.991487,141.733978
std,785.052015,0.052195,0.092629,0.716650,1.551189,0.218048,181.950511,141.296434
min,0.000000,37.430977,126.798599,0.000000,0.000000,0.000000,0.000000,0.000000
25%,679.500000,37.505438,126.915016,0.000000,1.000000,0.000000,0.000000,0.000000
50%,1359.000000,37.546089,127.002701,0.000000,2.000000,0.000000,37.000000,139.820000
75%,2038.500000,37.577394,127.063728,1.000000,3.000000,0.000000,213.000000,212.987500
max,2718.000000,37.691013,127.180756,2.624404,5.233838,0.874573,723.193224,505.477220

In [97]:
# 1/평균을 가중치로 줘서 공정하게 나눠가질 수 있도록 가중치 설정
w = [1/0.436169, 1/1.957899, 1/0.058219, 1/131.991487, 1/141.733978]

df_따릉_master['산출점수'] = df_따릉_master.iloc[:,4:].mul(w).sum(axis=1)

In [98]:
df_따릉_master['산출점수'].describe()

count    2719.000000
mean        5.000001
std         4.504959
min         0.000000
25%         2.067407
50%         3.943126
75%         6.344340
max        26.593360
Name: 산출점수, dtype: float64

In [103]:
# 20점 이상인 행만 모아서 보기.
최상위 = df_따릉_master['산출점수'] > 20
df_따릉_master[최상위]

,Unnamed: 0,보관소(대여소)명,위도,경도,public_place_in_100m,public_transport_in_100m,total_schools_in_100m,보관소_담당_인구수,보관소_인근_용적률,산출점수
28,28,재동초교 앞 삼거리,37.579388,126.984947,1.000000,4.0,0.874573,24.000000,126.35000,20.431104
63,63,평창동주민센터 앞,37.606274,126.968323,1.000000,1.0,0.874573,195.000000,144.71000,20.323925
158,158,신당역 10번 출구,37.567032,127.015793,1.000000,0.0,0.874573,0.000000,450.17000,20.490970
223,223,보광동 삼성리버빌아파트 앞,37.524010,127.001450,0.000000,1.0,0.874573,637.000000,88.62000,20.984196
282,282,응봉역 1번출구,37.551250,127.035103,1.000000,3.0,0.874573,15.000000,180.24000,20.232385
314,314,행당역 2번출구 앞,37.557350,127.029213,2.000000,5.0,0.874573,585.000000,0.00000,26.593360
342,342,상왕십리역 6번 출입구,37.564381,127.028870,0.000000,3.0,0.874573,263.000000,215.13000,20.064770
361,361,kt 행당빌딩 앞,37.558620,127.034355,1.000000,5.0,0.874573,0.000000,158.64000,20.987846
415,415,구의3동주민센터,37.537849,127.092171,2.000000,1.0,0.874573,336.000000,171.79000,23.875928
455,455,자양2동 주민센터,37.528793,127.084633,0.000000,0.0,0.874573,723.193224,184.53000,21.803155
464,464,전농삼성아파트,37.581310,127.055344,0.000000,0.0,0.874573,690.000000,136.51000,21.212872
562,562,중랑구청,37.606152,127.092598,2.000000,1.0,0.874573,330.000000,203.50000,24.054199
610,610,신내2동 주민센터 앞,37.606411,127.094048,2.000000,2.0,0.874573,368.000000,181.51000,24.697698
695,695,동선고가차도 초입,37.594158,127.018967,1.000000,1.0,0.874573,163.000000,238.88000,20.745899
781,781,쌍문동 이안아파트 앞,37.651653,127.028488,0.000000,4.0,0.874573,468.000000,250.63000,22.379122
783,783,서울특별시교육청도봉도서관,37.653179,127.012787,2.000000,0.0,0.874573,237.000000,0.00000,21.403068
841,841,도봉아이나라도서관 앞,37.658989,127.049736,1.000000,3.0,0.874573,385.000000,210.96000,23.252340
853,853,헬스케어,37.631622,127.061615,2.000000,2.0,0.874573,287.000000,174.74000,24.036257
854,854,태릉입구역 3번출구,37.619171,127.074928,2.624404,2.0,0.874573,15.000000,190.14000,23.515737
907,907,태릉입구역 5번출구,37.618320,127.075630,2.000000,3.0,0.874573,351.000000,254.55000,25.594985
954,954,상계주공1단지아파트,37.647953,127.057938,1.000000,2.0,0.874573,267.000000,0.00000,20.359170
1102,1102,북가좌1동 주민센터,37.574478,126.910049,2.000000,0.0,0.874573,435.000000,199.42000,24.310167
1104,1104,가재울 초등학교,37.573818,126.919235,1.000000,2.0,0.874573,117.000000,194.67000,20.596221
1105,1105,연가초등학교 옆,37.579460,126.917130,1.000000,1.0,0.874573,364.000000,56.40000,20.981242
1210,1210,상암월드컵파크 10단지 앞,37.586189,126.881615,0.000000,2.0,0.874573,688.000000,0.00000,21.256080
1235,1235,마포중앙도서관,37.563339,126.908203,2.624404,0.0,0.874573,124.000000,0.00000,21.978517
1307,1307,양강중학교앞 교차로,37.524334,126.850548,1.000000,4.0,0.874573,233.000000,238.94000,22.808915
1314,1314,영도초등학교,37.536377,126.871513,0.000000,2.0,0.874573,406.000000,278.90000,21.087349
1330,1330,목동1단지아파트 118동 앞,37.541142,126.876678,0.000000,3.0,0.874573,585.000000,0.00000,20.986478
1437,1437,가양역 8번출구,37.561035,126.854813,2.624404,3.0,0.874573,112.500000,182.73500,24.712927
1443,1443,마곡중학교 후문,37.568447,126.821648,0.000000,3.0,0.874573,547.000000,0.00000,20.698581
1448,1448,강서구보건소,37.549179,126.868797,1.000000,3.0,0.874573,0.000000,175.19000,20.083111
1528,1528,길성그랑프리텔아파트,37.569248,126.816505,0.000000,2.0,0.874573,586.000000,303.92000,22.627602
1578,1578,가양테크노타운,37.560360,126.862763,1.000000,2.0,0.874573,0.000000,238.56000,20.019465
1710,1710,한양수자인아파트 앞,37.475319,126.898888,2.624404,2.0,0.874573,283.000000,58.92000,24.620352
1717,1717,금천구립 독산도서관,37.467403,126.908142,2.000000,2.0,0.874573,146.000000,101.06000,22.448159
1745,1745,롯데캐슬골드파크3차 301동 앞,37.459019,126.896713,1.000000,1.0,0.874573,548.000000,0.00000,21.977343
1875,1875,양평동성원아파트,37.533745,126.893654,1.000000,1.0,0.874573,457.000000,212.42000,22.786628
2052,2052,봉천고개 육교,37.491226,126.956078,0.000000,5.0,0.874573,202.000000,158.03000,20.221255
2359,2359,대청역,37.493706,127.079994,0.000000,3.0,0.874573,297.000000,505.47722,22.370899
2502,2502,위례22단지 2208동 다리앞,37.478550,127.138138,0.000000,1.0,0.874573,661.000000,0.00000,20.540770
2526,2526,송파파인타운 4단지 403동,37.481743,127.128784,2.000000,0.0,0.874573,109.000000,126.81000,21.328013
2635,2635,묘곡초등학교,37.559162,127.153320,1.000000,1.0,0.874573,127.000000,178.79000,20.049191
2640,2640,강일리버파크 10단지,37.561203,127.180267,1.000000,3.0,0.874573,164.000000,0.00000,20.089568